body{
    background-color: #B8C1BE;
}

h1{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

textarea{
    padding: 7px;
    box-shadow: 10px 10px 10px;
    -webkit-box-shadow: 10px 10px 10px;
    -moz-box-shadow: 10px 10px 10px;
    border-radius: 20px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    
}

#sendButton{
    box-shadow: 3px 3px 3px black;
    -webkit-box-shadow: 3px 3px 3px black;
    -moz-box-shadow: 3px 3px 3px black;
}